#macro ( recursive $e $indent )     
#if( $e.getChildren().size() > 0 )
$indent <$e.getName()> 
#foreach ($child in $e.getChildren() ) 
#recursive( $child "$indent  " )
#end
$indent </$e.getName()>
#else
$indent <$e.getName()>
$indent    $e.getTextTrim()
$indent </$e.getName()>
#end
#end

#set($i = " ")
#recursive( $root.getRootElement() $i )

