$#macro(foo)bar#end$
$#set($foo = 'bar')$
$#if(true)true$#{else}false$#end$
$#if(false)false$#{else}true$#end$
---
 $
 #
 $$foo$
 $$foo#
 $#foo 
 $#foo$
 $#foo#
 $#foo 
 #$foo$
 #$foo#
 #$foo 
 $#@foo()hop#end$
 $#@foo()hop#end#
 $#@foo()hop#end 
---
