/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
 */
body {
  background-color: white;
}

body, td, select, input, li{
  font-family: Helvetica, Times, Times New Roman, serif;
  font-size: 12pt;
}

pre, code{
  font-size: 10pt;
}
a:link, a:visited,  a:active, a:hover {
    color: #525D76;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h1,h2 {
  padding: 4px 4px 4px 6px;
  border: none;
  background-color: #525D76;
  color: white;
  font-size: 14pt;
  font-weight: normal;
}
h3 {
  padding: 4px 4px 4px 6px;
  border: none;
  background-color: #525D76;
  color: white;
  font-size: 13pt;
  font-weight: normal;
}

#breadcrumbs {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  border: none;
  background-color: #525D76;
  color: white;
}

#leftColumn {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  margin: 10px 0 0 5px;
  background-color: white;
}

#leftColumn a {
  text-decoration: none;
}

#leftColumn li {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

#navcolumn h5 {
  font-size: small;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 2px;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 10pt;
}

table.bodyTable th {
  background-color: #039acc;
  color: #000000;
  vertical-align: top;
  text-align:left;
  border:1px #FFFFFF solid;
  padding: 2px;
}

table.bodyTable tr.a {
  background-color: #a0ddf0;
  color: #000000;
  vertical-align: top;
  text-align:left;
  border:1px #FFFFFF solid;
  padding: 2px;
}

table.bodyTable tr.b {
  background-color: #88c5d8;
  color: #000000;
  vertical-align: top;
  text-align:left;
  border:1px #FFFFFF solid;
  padding: 2px;
}

.source {
  border: 1px solid #999;
}

dt.question {
  color: #900;
  background-color: #eee;
}
