This page checks the stop directive inside an if statement

#if(false)

    #stop

#end

this should render

#if(true)

#stop

#end

this should not render

check reference
#set($a = 10)
$a

check method call
$a.toString()

check escaped directive
\#if

check escaped reference
\$a

