## This template is used for the case in which #set with a null
## is not accepted
set1

#set ($abc = "123")
$abc
#set	($abc = $boohoo)
$abc

#set    ($map = {})
#set($map.foo = "foo")
#set($map.bar = "bar")
$map.foo
$map.bar
#set($map.bar = $boohoo)
$map.foo
$map.bar
