#**

@test arithmetic.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

#set($foo = 5)
#set($foo = $foo + 1)
$foo

#set($foo = $foo - 1)
$foo

#set($foo = $foo * 2)
$foo

#set($foo = $foo / 2)
$foo

And the whole thing again with inline set statements

#set( $foo = 5)
#set( $foo = $foo + 1)
$foo

#set ( $foo = $foo - 1 )
$foo

#set( $foo = $foo * 2)
$foo

#set ($foo = $foo / 2)
$foo

## now lets try some string concatenation

#set($stringy = "This is a very long string"
 + " that we are breaking up into multiple"
 + " lines for testing."
)
$stringy

#set($stringy = "This is a string. The number 2 = " + 2)
$stringy

#set($three = 3)
#set($stringy = "This is a string."
+ " The value = " 
+ $three
)
$stringy
