#*

@test block.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

#set $foo = false

#if ($foo)
    this is true
#elseif ($bar)
    this is false
#elseif (true)
    this
#end    


#if (true)
    this is the if statement.

    #if (true)
    
        this is great

    #elseif (false)
        this is also great.
    #end        

#elseif (true)
    this is the first elseif.
#elseif (false)
    this is the second elseif.
#else
    this is the else statement
#end    

## this is a single line comment
