## fp2.vm => formatting problem 2
## the newline is being lost between
## $name and the paragraph. This is
## probably not super critical but it
## needs to be fixed. It is part of the
## general problem of switching out of the
## DIRECTIVE lexical state and into the
## DEFAULT lexical state where text is 
## process. I need a better solution in
## general in switching out of DIRECTIVES.

#set $name = "velocity"

$name

there should be a space between velocity
and this paragraph
