#*

@test map.vm

This template is used for Velocity regression testing.
If you alter this template make sure you change the
corresponding comparison file so that the regression 
test doesn't fail incorrectly.

*#

## $provider is a valid context object but
## Muck is not a valid property. This was causing
## ClassCastException which is now being caught.

$provider.Muck

## This is a valid Map and Bar is a valid
## element.

$hashtable.Bar
