#set $name = "jason"
$provider.concat("it will cost you $10.00", "")

#set $image = "dog"
$provider.concat("${image}.jpg", "")

#set $foo-bar = "foobar"
$provider.concat("${foo-bar}.jpg", "")

#set $foo_bar = "foobar"
$provider.concat("${foo_bar}.jpg", "")

#set $one = 1
#set $two = 2
#set $three = 3
$provider.concat("${one}${two}${three}", "")
$provider.concat("$one $two $three", "")
