This page checks the stop directive in the main body

#stop

this should not render

check reference
#set($a = 10)
$a

check method call
$a.toString()

check escaped directive
\#if

check escaped reference
\$a

