##
## tests a difficult introspection problem -
## the iterator is a private inner class
##

#set($array = [1..10])
#set($it = $array.iterator())

#foreach($num in [21..30])
   $num $it.next()
#end


