#macro(woogie $a)
This is $a
#end

#woogie(
"a string"
)

#macro(
   name 
   $thing
)
Call $thing
#end

#name("woog")

#set($foo = 
"hello there")

$foo

#set($list = 
	[1..10])

#foreach($item 
in $list)
$item
#end
