#foreach($key in $map.keySet())##
#set($value = $map[$key])##
$key Value $value.class.name $value
  $target.integralBoolean($value)
  $target.integralByte($value)
  $target.integralShort($value)
  $target.integralInt($value)
  $target.integralLong($value)
  $target.integralFloat($value)
  $target.integralDouble($value)
  $target.integralChar($value)
  $target.objectBoolean($value)
  $target.objectByte($value)
  $target.objectShort($value)
  $target.objectInt($value)
  $target.objectLong($value)
  $target.objectFloat($value)
  $target.objectDouble($value)
  $target.objectCharacter($value)
  $target.objectNumber($value)
  $target.objectObject($value)
  $target.objectEnum($value)
  $target.objectString($value)
  $target.valueOfBoolean($value)
  $target.valueOfShort($value)
  $target.valueOfByte($value)
  $target.valueOfInt($value)
  $target.valueOfLong($value)
  $target.valueOfFloat($value)
  $target.valueOfDouble($value)
  $target.valueOfString($value)
#end##