## Testing the evaluate directive

#evaluate("basic string")

#set($test1 = "zz")
#set($test2 = '$test1')

#evaluate("embedded reference $test2")

#evaluate($test2)

## Now check that #evaluate does change context
## Need to use single quote to surround #set to prevent premature evaluation

#set($teststring = "reference $test2 changes to" +
          '#set($test1 = "xx") $test1')
#evaluate($teststring)

## Check that test1 has changed
test1: $test1
